@mixin breakpoint($types) {
  @media (min-width: $types) {
    @content;
  }
}
%eclipseText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%fadeInAnimation {
  animation: appearance;
  animation-timing-function: ease;
}
  @keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
