
$font-family-main: var(--main-font-family);
$bg-color: var(--main-bg-color);
$font-size-main: 14px;
$gold-color: var(--gold-font-color);
$header-height: 100px;
$logo-font-family: 'Yusei Magic', sans-serif;
$header-border-color: #737373;
$font-color--white: #fff;
$font-color--black: #131313;
